*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.882);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: brown;
    border-bottom: solid 2px;
}
header h1{
    font-size: 50px;
}
main{
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    
    background-color: white;
}
.foto{
    margin-left: auto;
    margin-right: auto;
}
.foto img{ 
    display: block;
    margin: 0 auto;
    height: auto;
    width: 800px;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.resumo{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container{
    display: flex;
    margin-top: 30px;
}
.biografia{
    margin-bottom: 30px;
}
.biogrf-foto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.biogrf-foto img{
    height: 150px;
    width: 300px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.biogrf-text{
    flex: 2;
    text-align: justify;
    margin-right: 10px;
}
.biogrf-foto{
    flex: 1;
    margin-left: 10px;
    padding: 5px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: brown;
    padding: 20px;
    border-top: solid 2px;
}
.fim-de-uma-era h1{
    margin-bottom: 40px;
}
.fim-de-uma-era .container{
    display: flex;
    margin-bottom: 40px;
}
.fim-de-uma-era .container .fim-foto{
    flex: 0.8;
}
.fim-de-uma-era .container .fim-foto img{
    justify-content: center;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    height: 365px;
}
.fim-de-uma-era .container .fim-text{
    flex: 2;
    text-align: justify;
}
.link{
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    
}
.link a{
    background-color: antiquewhite;
    width: 50%;
    text-align: center;
    padding: 25px;
    text-decoration: none; 
    border-radius: 25px;
    color: black;   
}
.link a:hover{
    color: blue;
}

@media (max-width: 1000px){
    .foto img{ 
        display: block;
        margin: 0 auto;
        height: auto;
        width: 600px;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    header h1{
        font-size: 40px;
    }
    .fim-de-uma-era .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

@media (max-width:770px){
    .foto img{ 
        display: block;
        margin: 0 auto;
        height: auto;
        width: 500px;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    header h1{
        font-size: 37px;
    }
    .fim-de-uma-era .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

@media (max-width:640px){
    .foto img{ 
        display: block;
        margin: 0 auto;
        height: auto;
        width: 490px;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    header h1{
        font-size: 37px;
    }
    .fim-de-uma-era .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

@media (min-width:320px) and (max-width:639px){
    .foto img{ 
        display: block;
        margin: 0 auto;
        height: 380px;
        width: 250px;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .biogrf-foto{
        display: none;
    }
    header h1{
        font-size: 18px;
    }
    .fim-de-uma-era .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .fim-text{
        margin-top: 13px;
    }
}